Authomatic==0.1.0.post1
boto==2.48.0
boto3==1.5.35
botocore==1.8.49
contextlib2==0.5.5
coverage==4.5.1
dj-database-url==0.4.2
Django==1.10
django-appconf==1.0.2
django-compressor==2.1.1
django-js-asset==1.0.0
django-libsass==0.7
django-mptt==0.9.0
django-redis==4.8.0
django-redis-cache==1.7.1
django-s3direct==1.0.4
django-secure==1.0.1
django-storages==1.6.5
django-widget-tweaks==1.4.1
djangorestframework==3.7.7
docutils==0.14
enum34==1.1.6
flake8==2.6.0
flake8-blind-except==0.1.0
flake8-import-order==0.8
flake8-print==2.0.2
flake8-quotes==0.3.0
gunicorn==19.4.1
jmespath==0.9.3
jsonfield==1.0.3
kagiso-django-auth==9.1.2
libsass==0.14.4
mccabe==0.5.3
mistune==0.8.3
pep8==1.7.1
Pillow==5.0.0
psycopg2==2.7.3.2
py==1.5.3
pycodestyle==2.0.0
pyflakes==1.2.3
pytest==2.9.2
pytest-django==2.9.1
python-dateutil==2.6.1
pytz==2017.3
raven==6.0.0
rcssmin==1.0.6
redis==2.10.6
requests==2.10.0
rjsmin==1.0.12
s3transfer==0.1.13
six==1.11.0
