.comments-main-figure {  
  > img {
    margin: 0 0 65px;
    width: 50%;
  }
}

#commentForm {
  margin: 30px 0 0;

  label {
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 15px;
    width: auto;
  }
}

.reply-container--delete-btn {
  margin: 10px 0;
}
