.split-layout {
  width: 100%;

  .left-column {
    @media (min-width: 768px) {
      // border: 1px solid #000;
      float: left;
      width: 60%;
    }
  }

  .right-column {
    @media (min-width: 768px) {
      // border: 1px solid #ccc;
      float: right;
      padding: 0 30px 30px;
      width: 31%;
    }
  }
}
