{% load staticfiles %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'frontpage' %}">RadioCommunity</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li>
          <a href="{% url 'frontpage' %}" class="navbar--home">Home</a>
        </li>
        <!-- <li>
          <a href="{% url 'submit' %}" class="navbar--submit">Submit</a>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right ">
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{ user }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/user/{{ user }}">Profile</a>
            </li>
            <li class="disabled">
              <a href="#">Messages
                <span class="badge">0</span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <form id="logoutForm" action="/sign_out/" method="post">
                {% csrf_token %}
                <input type="hidden" name="current_page" value="{{ request.path }}">
              </form>
              <a onclick="$(this).parent().find('#logoutForm').submit()" href="#">Logout</a>
            </li>
          </ul>
        </li>
        {% else %}
        <li>
          <a href="{% url 'sign_in' %}" class="navbar--login">Login</a>
        </li>
        <li>
          <a href="{% url 'sign_up' %}" class="navbar--register">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="site-navigation">
  <ul class="site-navigation--list">
    <li>
      <a href="https://www.jacarandafm.com/" target="_blank">Home</a>
    </li>
    <li>
      <a href="https://www.jacarandafm.com/shows/" target="_blank">Shows</a>
    </li>
    <li>
      <a href="https://www.jacarandafm.com/news/" target="_blank">News &amp; Sport</a>
    </li>
    <li>
      <a href="https://www.jacarandafm.com/events/" target="_blank">Events</a>
    </li>
    <li>
      <a href="https://www.jacarandafm.com/contact-us/" target="_blank">Contact</a>
    </li>
    <li>
      <a href="https://www.jacarandafm.com/podcasts/" target="_blank">Audio On Demand</a>
    </li>
    <li>
      <a href="https://www.jacarandafm.com/lifestyle/" target="_blank">Lifestyle</a>
    </li>
    <li>
      <a href="https://www.jacarandafm.com/charts/" target="_blank">Charts</a>
    </li>
    <li>
      <a href="https://www.jacarandafm.com/win/" target="_blank">Win</a>
    </li>
    <li>
      <a href="https://www.jacarandafm.com/shows/#0" target="_blank">Traffic</a>
    </li>
  </ul>
</div>

<div class="site-navigation sub-navigation">
  <ul class="site-navigation--list">
    <li>
      <a href="#0" target="_blank">Latest</a>
    </li>
    <li>
      <a href="#0" target="_blank">Raw</a>
    </li>
  </ul>
</div>
