<div class="side-bar right-column">
  <header class="side-bar--header clearfix">
    <div class="side-bar--review-count">
      <a href="#0" class="review-count">16</a>
    </div> 
    <h3 class="side-bar--title">Raw</h3>
    <h4 class="side-bar--sub-title">16 Reviews</h4>    
  </header>   
  <article class="article clearfix">
    <div class="article-vote">
      <div class="vote" data-what-type="submission" data-what-id="submission-id">
        <div>
          <i class="fa fa-chevron-up" title="upvote" onclick="vote(this)"></i>
        </div>
        <div class="score" title="score">0</div>
        <div>
          <i class="fa fa-chevron-down" title="downvote" onclick="vote(this)"></i>
        </div>
      </div>
    </div>
    <img src="https://dummyimage.com/95x63/000/fff" alt="alt tag" class="article--figure">
    <div class="article--meta">
      <button type="button" role="delete" class="btn btn-danger btn-report">Report</button>
      <a href="#0" class="article--meta-title">Article Title</a>
      <small><i class="article--meta-source">(vg247)</i></small>
      <h6 class="article--meta-info">
        submitted 1 day, 5 hours ago by 
        <a href="#0">Kim Petersen</a>
      </h6>
      <a href="#0" class="article--meta-comments">0 comments</a>
      <!-- <button type="button" role="delete" class="btn btn-danger info-container--delete-btn">Report</button> -->
    </div>
  </article>
  <article class="article clearfix">
    <div class="article-vote">
      <div class="vote" data-what-type="submission" data-what-id="submission-id">
        <div>
          <i class="fa fa-chevron-up" title="upvote" onclick="vote(this)"></i>
        </div>
        <div class="score" title="score">0</div>
        <div>
          <i class="fa fa-chevron-down" title="downvote" onclick="vote(this)"></i>
        </div>
      </div>
    </div>
    <img src="https://dummyimage.com/95x63/000/fff" alt="alt tag" class="article--figure">
    <div class="article--meta">
      <button type="button" role="delete" class="btn btn-danger btn-report">Report</button>
      <a href="#0" class="article--meta-title">Article Title</a>
      <small><i class="article--meta-source">(vg247)</i></small>
      <h6 class="article--meta-info">
        submitted 1 day, 5 hours ago by 
        <a href="#0">Kim Petersen</a>
      </h6>
      <a href="#0" class="article--meta-comments">0 comments</a>
      <!-- <button type="button" role="delete" class="btn btn-danger info-container--delete-btn">Delete</button> -->
    </div>
  </article>
  <article class="article clearfix">
    <div class="article-vote">
      <div class="vote" data-what-type="submission" data-what-id="submission-id">
        <div>
          <i class="fa fa-chevron-up" title="upvote" onclick="vote(this)"></i>
        </div>
        <div class="score" title="score">0</div>
        <div>
          <i class="fa fa-chevron-down" title="downvote" onclick="vote(this)"></i>
        </div>
      </div>
    </div>
    <img src="https://dummyimage.com/95x63/000/fff" alt="alt tag" class="article--figure">
    <div class="article--meta">
      <button type="button" role="delete" class="btn btn-danger btn-report">Report</button>
      <a href="#0" class="article--meta-title">Article Title</a>
      <small><i class="article--meta-source">(vg247)</i></small>
      <h6 class="article--meta-info">
        submitted 1 day, 5 hours ago by 
        <a href="#0">Kim Petersen</a>
      </h6>
      <a href="#0" class="article--meta-comments">0 comments</a>
      <!-- <button type="button" role="delete" class="btn btn-danger info-container--delete-btn">Delete</button> -->
    </div>
  </article> 
</div>
