<div class="side-bar right-column">
  <header class="side-bar--header clearfix">
    <div class="side-bar--review-count">
      <a href="#0" class="review-count">16</a>
    </div> 
    <h3 class="side-bar--title">Raw</h3>
    <h4 class="side-bar--sub-title">16 Reviews</h4>    
  </header>   
  <article class="article clearfix">
    <img src="https://dummyimage.com/95x63/000/fff" alt="alt tag" class="article--figure">
    <div class="article--meta">
      <a href="#0" class="article--meta-title">Article Title</a>
      <i class="article--meta-source">(vg247)</i>
      <h6 class="article--meta-info">
        submitted 1 day, 5 hours ago by 
        <a href="#0">Kim Petersen</a>
      </h6>
      <a href="#0" class="article--meta-comments">0 comments</a>
      <!-- <button type="button" role="delete" class="btn btn-danger info-container--delete-btn">Delete</button> -->
    </div>
  </article>
  <article class="article clearfix">
    <img src="https://dummyimage.com/95x63/000/fff" alt="alt tag" class="article--figure">
    <div class="article--meta">
      <a href="#0" class="article--meta-title">Article Title</a>
      <i class="article--meta-source">(vg247)</i>
      <h6 class="article--meta-info">
        submitted 1 day, 5 hours ago by 
        <a href="#0">Kim Petersen</a>
      </h6>
      <a href="#0" class="article--meta-comments">0 comments</a>
      <!-- <button type="button" role="delete" class="btn btn-danger info-container--delete-btn">Delete</button> -->
    </div>
  </article>
  <article class="article clearfix">
    <img src="https://dummyimage.com/95x63/000/fff" alt="alt tag" class="article--figure">
    <div class="article--meta">
      <a href="#0" class="article--meta-title">Article Title</a>
      <i class="article--meta-source">(vg247)</i>
      <h6 class="article--meta-info">
        submitted 1 day, 5 hours ago by 
        <a href="#0">Kim Petersen</a>
      </h6>
      <a href="#0" class="article--meta-comments">0 comments</a>
      <!-- <button type="button" role="delete" class="btn btn-danger info-container--delete-btn">Delete</button> -->
    </div>
  </article> 
</div>
