.alert {
  color: #fff;
  margin: 40px 0 0;

  &.alert-success {
    background-color: #52be34;
    border-color: #52be34;
  }

  &.alert-danger,
  &.alert-error {
    background-color: #ed5e43;
    border-color: #ed5e43;
  }

  &.alert-warning {
    background-color: #efc501;
    border-color: #efc501;
  }

  > .close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
  }
}
