.article {
  &:not(:last-child) {
    margin: 0 0 30px;
  }

  &.is--not-full-width {
    @media (min-width: 768px) {
      width: 90%;
    }

    @media (min-width: 1200px) {
      width: 50%;
    }
  }

  .article-vote {
    float: left;

    .vote {
      margin-right: 20px;
      width: auto;
    }
  }

  .article--figure {
    margin: 0 0 15px;
    width: 80%;

    @media (min-width: 768px) {
      float: left;
      margin: 0 15px 0 0;
      // width: 70%;
      width: 40%;
    }

    @media (min-width: 1200px) {
      // width: auto;
      width: 25%;
    }
  }

  .article--meta {
    padding: 0 39px;

    @media (min-width: 768px) {
      float: left;
      margin: 22px 0 0;
      padding: 0 40px;

    }

    @media (min-width: 1200px) {
      margin: 0;
      padding: 0;
      width: 50%;
    }

    .btn-report,
    .btn-delete {
      border-radius: 30px;
      float: right;
      font-size: 12px;
      margin: 0;
      padding: 4px 10px;

      &:disabled {
        text-decoration: line-through;
      }
    }
  }

  .article--meta-title {
    color: #337ab7;
    font-size: 20px;
  }

  .article--meta-source {
    color: #ccc;
    display: block;
  }

  .article--meta-comments {
    color: #888;
    display: block;
    font-size: small;
    font-weight: 500;
  }
}

.side-bar--header {
  .side-bar--review-count {
    float: right;

    .review-count {
      background-color: #ffd016;
      border-radius: 100%;
      color: #4e4e4e;
      display: inline-block;
      font-weight: 700;
      height: 40px;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      width: 40px;
    }
  }

  .side-bar--title {
    margin: 0;
  }

  .side-bar--sub-title {
    margin: 25px 0 0;
  }
}
