// TODO: Need to styled disabled state!
.pager {
  margin: 80px 0 20px;

  li {
    &.disabled {
      > a {
        background: #ccc !important;
        text-decoration: line-through;
      }
    }
  }

  a {
    background: #4e034f !important;
    border-color: transparent !important;
    border-radius: 50px !important;
    color: #fff !important;
    padding: 10px 20px !important;
  }
}
