.social-sign-in {
  margin: 0 0 20px;

  > p {
    font-size: 20px;
    margin: 0 0 15px;

    &:last-child {
      margin: 17px 0;
    }
  }

  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline-flex;
      justify-content: center;
      padding: 12px 0;
      width: 48%;

      @media (min-width: 768px) {
        width: 13%;
      }

      img {
        width: 22px;
      }

      &.facebook {
        background-color: #3b5998;
      }

      &.google-plus {
        background-color: #dd4b39;
      }
    }
  }
}
